yellow = #FDD43A

@import url('https://fonts.googleapis.com/css?family=Anton')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')

body
    height 100% !important
html
    height 100% !important
.main
  height 100% !important
  Header
    background url('http://s3.amazonaws.com/chewiekie/img/Background_3.jpg') center center no-repeat 
    background-size cover
    min-height 100%
    z-index: -9999
    &:before
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background-image: linear-gradient(to bottom right,#002f4b,#2E2E30)
      opacity .6
    .content
      padding-top 25px
      color yellow
    .logo
      h3 
        display inline-block
        font-size 20px
        padding 7px 0px
        text-transform uppercase
        letter-spacing 1.2px
        font-weight 300
        font-family 'Lato', sans-serif
    .nav
      font-family 'Lato', sans-serif
      a
        color white
        transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
        text-transform uppercase
        font-weight 200
        letter-spacing 1.1px
        font-size 13px
        &:hover           
          transform scale(1.1)
          color rgba(white,0.8)
        svg
          font-size 22px !important
          margin-top -3px
    .hero
      font-family 'Lato', sans-serif
      h1 
        color yellow
        text-transform uppercase
        margin-top 22vh
        span
          display block
        .strong 
          font-size 60px
          font-weight 900
          letter-spacing 20px
        .happens
          color white 
          font-weight 300
          font-size 42px
          letter-spacing 1.8px
        .yellow-line
          width 345px
          background-color yellow
          padding 3px
          margin 10px 0px 
        .yourun
          color white
          font-weight 300
          font-size 38px
          letter-spacing 2px
        .weak 
          color yellow
          font-size 60px
          font-weight 900
          letter-spacing 50px
      .btn-register
        padding 12px 
        border 1px solid yellow
        margin 20px 0px
        color yellow
        font-weight 200
        text-transform uppercase
        font-size 14px
        border-radius 5px
        letter-spacing 1.5px
        transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
        box-shadow 0 1px 2px 0 rgba(0,0,0,0.03)
        &:hover 
          background-color rgba(yellow,0.1)
          transform scale(1.03)
          color rgba(white,0.8)